<h1>Purchase Order</h1>

<form [formGroup]="form" (submit)="processForm()">
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Address: </td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><input type="email" formControlName="email"></td>
    </tr>
    <tr>
      <td>Delivery Date: </td>
      <td><input type="date" formControlName="deliveryDate"></td>
    </tr>
    <tr>
      <td>Rush: </td>
      <td><input type="checkbox" formControlName="rush"></td>
    </tr>
    <tr>
      <td>
        <button type="submit">Place Order</button>
      </td>
      <td><button type="button" (click)="addLineItem()">Add LineItem</button></td>
    </tr>
  </table>

  <hr>

  @if (lineItems.controls.length <= 0) { <h3> You have not created a purchase order</h3> }
    @else {
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody formArrayName="lineItems">
        @for (li of lineItems.controls; let idx = $index; track li) {
        <tr [formGroupName]="idx">
          <td> {{ idx + 1 }}</td>
          <td><input type="text" formControlName="itemName"></td>
          <td><input type="number" formControlName="quantity"></td>
          <td><input type="number" formControlName="unitPrice"></td>
          <td><button type="button" (click)="deleteLineItem(idx)">X</button></td>
        </tr>
      }
      </tbody>
    </table>
    }
</form>